*{
    margin: 0px;
    padding: 0px;
}

#image{
    margin: 40px;
    width: 20%;
}

body {
    background-color: #007464;
    margin: none;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    cursor: crosshair;
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#image2{
    size: 10%;
    width: 5%;
    margin-top: 30px;
}

a{
    color: white;
}
