*{
    margin: 0px;
    padding: 0px;
}

#image{
    size: 25%;
    width: 50%;
}

body {
    margin: none;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica;
}